// colors
$color-dark: #e3bce79f;
$main-bg: #43304b;
$neutral-dark: #684163;
$neutral-medium: #a35d85;

$neutral-light: #f287ac;
$main-color: #f8b5cb;

$bg-gradient: linear-gradient(to bottom right, $main-bg, $neutral-dark);

// #C9D1C8
// #5B7065
// #3040404
// #04202C

// #5D5C61
// #379683
// #7395AE
// #557A95
// #B1A296

.color1 {
  color: #43304b;
}
.color2 {
  color: #684163;
}
.color3 {
  color: #a35d85;
}
.color4 {
  color: #f287ac;
}
.color5 {
  color: #f8b5cb;
}
